{% extends 'main/base.html'%}{% import 'bootstrap/wtf.html' as wtf%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container m-5 home-container">
  <div class="row">
    <div class="col-md-4">
      <a
        href="{{url_for('main.send_funds')}}"
        class="action-card bg-success text-white"
      >
        <h3>Send Funds</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="{{url_for('main.credit')}}"
        class="action-card bg-primary text-white"
      >
        <h3 class="text-center">Credit Account</h3>
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="{{url_for('main.debit')}}"
        class="action-card bg-danger text-white"
      >
        <h3 class="text-center">Debit Account</h3>
      </a>
    </div>
  </div>
</div>

{% endblock%}
