.row {
    margin: 0 auto;
    padding: 20px 80px;
  }
  
.action-card {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6px);
  color: white;

  height: 250px;
  width: 250px;
  border-radius: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
  
.results {
  background-color: aqua;
  width: 450px;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
}
  
.profile-wrapper {
  margin-top: 50px;
}

.pic-cont {
  height: 600px;
}
.details-cont {
  height: 600px;
  background-color: rgb(128, 0, 122);
}
  
.image {
  height: 400px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.image img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* margin: 0px auto; */
}
  
.pic-cont .form {
  margin-top: 20px;
}
  
.form form input {
  height: 55px;
  font-size: 18px;
}

html {
  height: 100%;
  background-image: url("../photos/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  overflow-y: hidden;
}
body {
  background: transparent;
  height: 100%;
  width: 100%;
  margin-top: 5px 0px 60px 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: white;
  border: transparent;
}


.navbar {
  width: 100%;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
  display: inline;
  float: right;
  justify-content: space-between;
}

li {
  list-style: none;
  color: white;
  
}
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-log img {
  height: 10px;
  cursor: pointer;
}

.navbar-brand {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 10px;
}
.navbar-brand:hover {
  color: rgb(9, 235, 243);
}
.nav-link {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: right;
}

.dropdown-menu {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  margin-right: 10px;
}

.nav-link {
  color: white;
  font-size: 22px;
  transition: all 0.2s;
  cursor: pointer;
}

.nav-link-btn {
  color: white;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.2s;
  margin-left: 10px;
  cursor: pointer;
}
.nav-link-btn:hover {
  color: rgb(9, 235, 243);
}

.nav-link:hover {
  color: rgb(9, 235, 243);
}
.btn-group {
  margin: 15px auto;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-link {
  font-size: 22px;
  border-left: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 8px;
}
.btn-link:hover {
  color: rgb(9, 235, 243);
}
.btn-link:active {
  color: rgb(9, 235, 243);
}
.btn-link:first-child {
  border-left: none;
}


.card {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6px);
  color: white;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.post-form {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  padding: 20px;
  border: 1px solid white;
}

select,
input {
  height: 48px;
  margin-bottom: 15px;
}
label {
  color: white;
  font-size: 21px;
  padding-bottom: 10px;
  color: rgb(9, 235, 243);
  display: flex;

  align-items: center;
  gap: 10px;
}
label input {
  margin-top: 10px;
}

select,
select:focus,
input,
input:focus,
input[type="email"],
input[type="email"]:focus,
input[type="password"],
input[type="password"]:focus,
textarea,
textarea:focus {
  background: transparent !important;
  color: #fff !important;
  font-size: 25px;
  outline: none !important;
}

select option {
  margin: 40px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  color: #000;
}

textarea {
  height: 120px;
}



.sign-up {
  color: white;
  font-size: 20px;
}

.sign-up a {
  color: rgb(6, 230, 6);
}

.profile-wrapper {
  width: 100%;
  height: 730px;

  margin: 2px auto;
  padding: 20px;
  overflow-y: hidden;
}

.link-btn {
  color: white;
  font-size: 15px;
  border: 1px solid white;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.link-btn:hover {
  color: rgb(9, 235, 243);
}
.profile-container {
  height: 800px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
}
.home-container {
  height: 350px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
}

.transaction-container {
  height: 100%;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
}

.user_details_container {
  height: 380px;
}
.user_profile_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile_picture img {
  height: 350px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: none;
}

.user_details_bio .user_name {
  font-size: 35px;
}
.user_details_bio .user_bio {
  font-size: 25px;
}
.user_details_bio .message {
  color: rgb(68, 67, 67);
  font-size: 20px;
}

.error_container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
  height: 300px;
}

.error_container h1 {
  font-size: 70px;
  color: red;
  font-weight: 900;
}
.error_container p {
  font-size: 20px;
}

.error_container p a {
  color: green;
}
h4 {
  color: #fff;
}
.transaction-type {
  color: rgb(255, 0, 0);
}
.transaction-amount{
  color: rgb(25, 230, 25);
}

  